#map {
	width: 100%;
	transition: .4s;
	height: 100%;

	#card-on-map {
		position: absolute;
		bottom: 0px;
		width: 100%;
		padding: 6px;
		z-index: 101;
		.item-white {
			background-color: white;
		}
	}
}